
form {
    border-radius:5%;
    width: 45%;
    margin: 50px auto;
    background: #efefef;
    padding: 60px 40px 40px 30px;
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  }
  h2{
    background-color:rgb(193, 82, 82);
    color:white;
    font-family:"Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";
    border-radius: 10px;
    padding: 10px;
    text-align: center;
  }
  label {
    display: block;
    position: relative;
    margin: 10px 0px;
    font-weight: bold;
    
  }  
  button {
    align-self: right;
    display: inline-block;
    padding: 12px 24px;
    background: rgb(220,220,220);
    font-weight: bold;
    color: rgb(120,120,120);
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: ease .3s;
  }
  
  button:hover {
    background: #8BC34A;
    color: #ffffff;
  }