h2{
    background-color:rgb(193, 82, 82);
    color:white;
    font-family:"Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";
    border-radius: 10px;
    padding: 10px;
}

legend{
    font-family:"Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";
    border-radius: 20px;
    padding: 5px;
   }

fieldset{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-width: 30px;
    border-color: white;
 }

body {
    background-repeat: no-repeat;  
    background-size:cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button{
    background-color: #66358e;
    color: #bd6b6b;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
}

input[type="submit"]:hover {
    background-color: #bd1a48;
}